$errorText: #0088a9;
$textColor: rgb(248, 119, 119);
$altTextColor: rgb(247, 198, 198);
$backGround:#24252A;
@mixin flexCenter() {
    background: $backGround;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: $textColor;
}


@mixin flexList(){
  background: $backGround;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    color: $textColor;

}
@mixin links() {
    color: $textColor;
    text-decoration: none;
    transition: all .2s ease 0s;
    &:hover {
        color: $altTextColor;
    }
}

@mixin responsiveText {
    font-size: 1.25vw;
}
