<div class="auth-page">


    <div class=" container-page">
        <div class="row">
            <div class="col">
                <h1>
                    Sign Up
                </h1>
                <p class="error-text">
                    <mc-backend-error-messages *ngIf="backendErrors$ | async" [backendErrors]="backendErrors$ | async"></mc-backend-error-messages>
                </p>

                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <fieldset>
                        <fieldset class="form-group">
                            <input type="text" class="form-control" placeholder="User" formControlName="username">
                        </fieldset>

                        <fieldset class="form-group">
                            <input type="email" class="form-control" placeholder="Email" formControlName="email">
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="password" class="form-control" placeholder="Password" formControlName="password">
                        </fieldset>
                        <p>
                            <a [routerLink]="['login']">Have an account?</a>
                        </p>
                        <button class="btn btn-outline-secondary" type="submit" [disabled]="isSubmitting$ | async">Sign Up</button>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>